* {
    font-family: Quicksand;
}

body {
    margin: 5px;
    color: #fff;
    overflow-x: hidden;
    height: 150vh;
    background-repeat: no-repeat;
    font-weight: bold;
    background-image: linear-gradient(rgb(196, 222, 235), rgb(145, 192, 231));     
}

.name {
    text-align: center;
    
}

.size {
    width: 22%;
    margin-bottom: 10px;
}

.control {
    margin-bottom: 10px;
}

.search {
    margin-bottom: 20px;
    padding-bottom: 10px;

}

#forecast {
    background-color: rgb(109, 158, 221);
    border: solid 2px linear-gradient(0deg, #f1f1f1 0%, #ececec);
    box-shadow: 0px 4px 8px 0px #85858567;
    transform: scale(1.005);
    justify-content: center;
    width: 65%;
    position: absolute;
    right: 10%;
    top: 18%;    
}

.forecast1 {
    padding-bottom: 20px;
    justify-content: center;
}

h3 {
    text-decoration: underline ;
    font-weight: bold;
    font-size: 22px;
    margin-top: 24px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 10px;

}

.custom{ 
    background-color: rgb(109, 158, 221);    
    border: solid 2px linear-gradient(0deg, #f1f1f1 0%, #ececec);
    box-shadow: 0px 4px 8px 0px #f1eded67;
    transform: scale(1.005);
    width: 65%;
    font-weight: bold;
    position: absolute;
    right: 10%;
    top: 85%; 
    
} 
#Day1{
    box-shadow: 0px 4px 8px 0px #25262767;        
    transform: scale(1.005);
    margin-right: 10px;
    
}
#Day2{
    box-shadow: 0px 4px 8px 0px #25262767;
    transform: scale(1.005);
    margin-right: 10px;
    
}
#Day3{
    box-shadow: 0px 4px 8px 0px #25262767;
    transform: scale(1.005);
    margin-right: 10px;
}
#Day4{    
    box-shadow: 0px 4px 8px 0px #25262767;
    transform: scale(1.005);
    margin-right: 10px;
}
#Day5{    
    box-shadow: 0px 4px 8px 0px #25262767;
    transform: scale(1.005);
    margin-right: 10px;
}

.savedCities{
    background-color: #b4bdbe;
    border: solid 2px linear-gradient(0deg, #505152fd 10%, #e9e5e5); 
    box-shadow: 0px 4px 8px 0px #292a2c67;
    transform: scale(1.005);
    width: 22%;
    padding-bottom: 8px;
    padding-top: 5px;
    margin-bottom: 2px;
    text-align: center;
    justify-content: space-between;
    cursor: pointer;
    font-weight: bold;
}
