* {
    font-family: Quicksand;
}

body {
    margin: 5px;
    color: #fff;
    overflow-x: hidden;
    height: 100%;
    /* background-image: linear-gradient(rgb(196, 222, 235), rgb(128, 188, 238));   */
    background-repeat: no-repeat;
    font-weight: bold;
    background-image: linear-gradient(rgb(196, 222, 235), rgb(128, 188, 238)); 
    /* background-color: rgba(224, 238, 238, 0.651); */
}

.name {
    text-align: center;
    
}

.size {
    width: 22%;
    margin-bottom: 10px;
}

.control {
    margin-bottom: 10px;
}

.search {
    margin-bottom: 20px;
    padding-bottom: 10px;

}

#forecast {
    border: solid 2px linear-gradient(0deg, #f1f1f1 0%, #ececec);
    box-shadow: 0px 4px 8px 0px #85858567;
    transform: scale(1.005);
    justify-content: center;
    /* margin-left: 350px; */
    /* margin-top: -130px; */
    width: 75%;
    /* text-align: center; */
    position: absolute;
    right: 0%;
    top: 20%;    
}

.forecast1 {
    padding-bottom: 20px;
    justify-content: center;
}

h2{
    text-decoration: underline ;
    /* text-align: center; */
    font-weight: bolder;
}

h3 {
    text-decoration: underline ;
    font-weight: bold;
    margin-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;

}

.custom{ 
    border: solid 2px linear-gradient(0deg, #f1f1f1 0%, #ececec);
    box-shadow: 0px 4px 8px 0px #55535367;
    transform: scale(1.005);
    width: 50%;
    font-weight: bold;

    
    
} 
#Day1{
    border: solid 2px linear-gradient(0deg, #f1f1f1 0%, #ececec);
    box-shadow: 0px 4px 8px 0px #25262767;
    transform: scale(1.005);
    margin-right: 10px;
    
}
#Day2{
    border: solid 2px linear-gradient(0deg, #f1f1f1 0%, #ececec);
    box-shadow: 0px 4px 8px 0px #25262767;
    transform: scale(1.005);
    margin-right: 10px;
}
#Day3{
    border: solid 2px linear-gradient(0deg, #f1f1f1 0%, #ececec);
    box-shadow: 0px 4px 8px 0px #25262767;
    transform: scale(1.005);
    margin-right: 10px;
}
#Day4{
    border: solid 2px linear-gradient(0deg, #f1f1f1 0%, #ececec);
    box-shadow: 0px 4px 8px 0px #25262767;
    transform: scale(1.005);
    margin-right: 10px;
}
#Day5{
    border: solid 2px linear-gradient(0deg, #f1f1f1 0%, #ececec);
    box-shadow: 0px 4px 8px 0px #25262767;
    transform: scale(1.005);
    margin-right: 10px;
}

.savedCities{
    border: solid 2px linear-gradient(0deg, #f1f1f1 10%, #757171); 
    box-shadow: 0px 1px 8px 0px #7982a067;
    transform: scale(1.005);
    width: 22%;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 2px;
    text-align: center;
    justify-content: space-between;
    cursor: pointer;
    font-weight: bold;
}
